.header-container {
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.left-container {
  height: calc(100vh - 100px);
}
.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
}

.right-container {
}